<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <div class="form">
            <h1>Register</h1>
            <form method="post" action="/register">
                <label>
                    <span>First Name</span>
                    <input type="text" name="first_name" required/>
                </label>
                <label>
                    <span>Last Name</span>
                    <input type="text" name="last_name" required/>
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" name="email" required/>
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" name="password" required/>
                </label>
                <label>
                    <span>Re-type Password</span>
                    <input type="password" name="password2" required/>
                </label>
                <button type="submit">Register</button>
                <a class="reglink" href="/">Back to Login</a>
            </form>
        </div>
    </div>
</body>
</html>