<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    The user id: {{user_id}}
    <form method="post">
        <input type="text">
        <input type="hidden" name="id" value="{{user_id}}"/>
    </form>
</body>
</html>